html, body { height: 100%; }
body, ul, li, a, p, input { margin: 0; padding: 0; list-style: none; text-decoration: none; border: none; outline: none; }
body { background-color: #000000; padding: 0px; margin: 0px; font-family: 'Raleway', sans-serif; }



#gradient { width: 100%; height: 100%; padding: 0px; margin: 0px; }
#gradient .innerwrapper { background: url(../images-extended/bg-page-section.png) repeat 0 0; height: 100%; width: 100%; position: relative; text-align: center; }
#gradient .innerwrapper .logo { padding-bottom: 30px; }
#gradient .innerwrapper .logo img { width: 120px; }
#gradient .innerwrapper .laptop-img { width: 240px; }
#gradient .innerwrapper .banner-content { left: 50%; position: absolute; text-align: center; top: 40%; transform: translate(-50%, -40%); -moz-transform: translate(-50%, -40%); -webkit-transform: translate(-50%, -40%); width: 60%; }
#gradient .innerwrapper .getDeal { font-size: 35px; font-weight:300; display: block; padding: 10px 0; color: #fff; }
#gradient .innerwrapper h2 { color: #ffffff; font-size: 55px; line-height: 55px; margin: 0; padding-bottom: 35px; font-weight: 600; }
#gradient .innerwrapper  h2 span { font-size: 36px; font-weight: 300; line-height: 36px; }
#gradient .innerwrapper .button-box { display: inline-block; width: auto; margin: 0 8px 10px 0; vertical-align: top; position: relative; }
#gradient .innerwrapper .button-box .option { position: absolute; width: 100%; z-index: 10; }
#gradient .innerwrapper .button-box .option ul { width: 100%; float: left; background: #ed3050; }
#gradient .innerwrapper .button-box .option ul li:first-child { border: 0px; }
#gradient .innerwrapper .button-box .option ul li { color: #fff; border-top: 1px solid #fc4966; padding: 0 0; margin: 0px; line-height: 35px; }
#gradient .innerwrapper .button-box .option ul li i { color: #fff; width: 26px; text-align: center; }
#gradient .innerwrapper .button-box .option ul li a { color: #fff; width: 100%; display: inline-block; }
#gradient .innerwrapper .button-box .option ul li a:hover { background: #000; }
#gradient .innerwrapper a.button { display: inline-block; width: auto; height: 45px; line-height: 45px; color: #fff; text-transform: uppercase; font-weight: 500; font-size: 15px; border: 2px solid #000c22; padding: 0 20px; background: #000c22; }
#gradient .innerwrapper a.button.red { border-color: #fff; background: transparent; color: #fff; }
#gradient .innerwrapper a.button:hover, a.button.red:hover, a.button.active { background: #fc4966; border-color: #fc4966; color: #fff; }

@media only screen and (max-width: 1199px) {
#gradient .innerwrapper .banner-content{width: 80%;}
}

@media only screen and (max-width: 979px) {
#gradient .innerwrapper h2{font-size: 42px;}
#gradient .innerwrapper h2 span{font-size: 26px;}
}

@media only screen and (max-width: 767px) {
html, body, #gradient{height: auto;}
#gradient .innerwrapper .banner-content{position: relative; margin: 0 auto; width: 100%; left: auto; top: auto; transform: inherit; -webkit-transform: inherit; -moz-transform: inherit;}
#gradient .innerwrapper .logo{padding: 20px 0;}
#gradient .innerwrapper .banner-content{width: 95%;}
#gradient .innerwrapper h2{font-size: 30px; padding-bottom: 20px;}
#gradient .innerwrapper h2 span{font-size: 18px;}
#gradient .innerwrapper .getDeal {font-size: 28px; padding: 10px 0 0;}
}

@media only screen and (max-width: 639px) {
#gradient .innerwrapper h2{line-height: 18px; padding: 10px 0 20px; display: inline-block;}
#gradient .innerwrapper .getDeal, #gradient .innerwrapper h2{font-size: 25px;}
}	





